[*]
ij_kotlin_packages_to_use_import_on_demand = *,jakarta.persistence.*,java.*,java.util.*,org.springframework.test.web.servlet.result.MockMvcResultMatchers.*,org.mockito.Mockito.*,org.springframework.web.bind.annotation.*,org.springframework.web.context.annotation.*,org.springframework.beans.factory.annotation.*,org.springframework.beans.factory.annotation.Autowired,org.springframework.beans.factory.annotation.Qualifier,org.springframework.beans.factory.annotation.Value,org.springframework.beans.factory.annotation.Required,org.springframework.beans.factory.annotation.Configurable,org.springframework.beans.factory.annotation.Scope
